@font-face {
  font-family: "iconfont"; /* Project id 4631005 */
  src: url('iconfont.woff2?t=1721872659499') format('woff2'),
       url('iconfont.woff?t=1721872659499') format('woff'),
       url('iconfont.ttf?t=1721872659499') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-liwuhuodong:before {
  content: "\e604";
}

.icon-xinxi:before {
  content: "\e648";
}

.icon-qitianwuliyoutuihuan:before {
  content: "\e63d";
}

.icon-wangdianchaxun:before {
  content: "\e611";
}

.icon-weixiubaoyang:before {
  content: "\e680";
}

.icon-m15-copy:before {
  content: "\e605";
}

.icon-gouwuchekong:before {
  content: "\e600";
}

.icon-huafeichongzhi:before {
  content: "\e612";
}

.icon-youkuohao:before {
  content: "\e63e";
}

.icon-24gl-clockCircle:before {
  content: "\eb3f";
}

.icon-sousuo:before {
  content: "\e613";
}

.icon-mifenka:before {
  content: "\e601";
}

.icon-qiyetuangou-copy:before {
  content: "\e602";
}

.icon-yijiuhuanxin:before {
  content: "\e603";
}

.icon-Fmatongdao:before {
  content: "\e606";
}

